* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

/* #region utility */

.end {
    justify-content: end;
    align-items: center;
}

.debug {
    background-color: indigo;
}

.debug_box {
    height: 820px;
    width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex_no_wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.space_around{
    justify-content: space-between;
}

.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 9);
}

.col_10 {
    width: calc((100% / 12) * 10);
}

.col_11 {
    width: calc((100% / 12) * 11);
}

.col_12 {
    width: calc((100% / 12) * 12);
}

/* #endregion utility */

#site_header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.small_logo {
    padding: 25px;
    vertical-align: middle;
}

.header_links {
    text-decoration: none;
    color: black;
    padding: 26px 20px;
    vertical-align: middle;
}

.start {
    background-color: #0061ff;
    color: white;
    padding: 6px 15px;
    margin: 19px 15px 19px 5px;
}

.jumbo {
    height: 740px;
    background-color: #b4d0e7;
    margin-top: 75px;
}

.jumbo_box {
    width: 60%;
    margin: auto;
}

h1 {
    font-size: 75px;
    padding: 100px 0 50px 0;
}

.jumbo_img {
    float: right;
    width: 69%;
}

.jumbo_box>.free_trial {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    margin: 30px 0 25px 0;
    display: inline-block;
}

.fa-arrow-down {
    margin-top: 55px;
    font-size: 50px;
    color: black;
}

.box {
    width: 53%;
    margin: auto;
    margin-top: 160px;
}

.mini_box {
    margin-right: 250px;
}

h2 {
    margin: 120px 20px 50px 0;
    font-size: 40px;
}

.card_col{
    width: 30%;
}

.card_height{
    height: 95%;
}



.card_header {
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.sub>.fa-user {
    padding: 12px 4px 12px 0;
}

.sub>.fa-users {
    padding: 12px 4px 12px 0;

}

.sub>.fa-building {
    padding: 12px 4px 12px 0;
}

.sub {
    margin-bottom: 1px solid lightgray;
}

.border {
    border: 1px solid lightgray;
}

.spacing {
    margin-top: 40px;
}

.card_main {
    margin: 30px;
    font-size: 14px;
}

.card_1_padding {
    padding-bottom: 171px;
}

.card_3_padding {
    padding-bottom: 133px;
}

.card_main_horizontal {
    margin: 30px;
    font-size: 14px;

}

.card_main>.free_trial {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    margin: 50px 0 20px 0;
    display: inline-block;
}

.card_main>.contact_us {
    background-color: #0061ff;
    color: white;
    padding: 10px 85px;
    margin: 50px 0 20px 0;
    text-decoration: none;
    display: inline-block;
}

.border_bottom {
    padding-bottom: 40px;
    border-bottom: 1px solid lightgrey;
}

.card_main>h3 {
    margin-bottom: 16px;
    font-size: 23px;
}

.price {
    margin-bottom: 8px;
}

.enterprise_price{
    margin-top: 15px;
    margin-bottom: 55px;
}

.period {
    margin-bottom: 35px;
    color: grey;
}

.fa-check {
    color: #0061ff;
    font-size: 16px;
}

.card_main>h4 {
    margin: 90px 0 40px 5px;
}

.float_right {
    float: right;
}

.contact_us {
    text-decoration: none;
    background-color: #0061ff;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.contact_us:hover {
    background-color: #2377ff;
    cursor: pointer;
}

.free_trial:hover {
    background-color: #2377ff;
    cursor: pointer;
}

.start:hover {
    background-color: #2377ff;
    cursor: pointer;
}

.col_5>h3 {
    font-size: 23px;
    margin: 50px 0 10px 50px;
}

.col_5>p {
    margin-left: 50px;
}

.partner {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-top: 25px;
    margin-left: 50px;
    border: 1px solid black;
    padding: 12px 14px;
}

.partner:hover {
    color: rgb(85, 85, 85);
}

h3 {
    font-size: 23px;
}

.operations_margin {
    margin-right: 15px;
    margin-bottom: 30px;
}

.operations_margin>p{
    margin-top: 30px;
}

.discover {
    margin-bottom: 150px;
}

.square {
    width: calc((100% / 12) * 6);
    aspect-ratio: 1 / 1;
}

.lite_background {
    background-color: #f5f5f5;
}

hr {
    width: 20%;
    margin: 40px 0;
}

.margin {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 30px;
}

.margin>p{
    margin-bottom: 50px;
}
.client_logo {
    filter: invert(100%);
    width: 50%;
    align-self: center;
    margin: auto;
}

.client_logo_big {
    width: 50%;
    align-self: center;
    margin: auto;
}

.designit {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.asu {
    background-color: #61082b
}

.uof {
    background-color: #0093ce
}

.topps {
    background-color: #ff1c1c
}

.wbr {
    background-color: #d5001f
}

.hearst_corp {
    background-color: #b4d0e7
}

.lonely_planet {
    background-color: #0d2481
}

.clear_channel {
    background-color: #ffd830
}

.free_trial_back {
    background-color: #b4d0e7;
}

.start_free_trial {
    border: none;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 8px 30px;
    margin: 130px 55px;
}

.start_free_trial:hover {
    color: rgb(85, 85, 85);
}

.call_to_action {
    color: #61082b;
    margin-bottom: 120px;
}

.free_trial_back>.box {
    width: 53%;
    margin: auto;
}

.border_top_bot {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.faq_spacing {
    padding: 40px 0;
}

#site_footer {
    background-color: black;
    color: white;
    margin-top: 150px;
}

.footer_top {
    margin: auto;
    width: 70%;
}

.footer_bottom {
    height: 100px;
    width: 120px;
    margin-top: 100px;
    margin-left: 333px;
    padding-top: 50px;
    color: gray;
}

.col {
    width: 260px;
    justify-content: center;
}

.col>h3 {
    margin: 100px 0 20px 50px;
}

.col>div {
    margin: 10px 0 10px 50px;
}

.border_top {
    border-top: 1px solid white;
}

.panel {
    padding-top: 20px;
    display: none;
}

.accordion:hover+.panel {
    display: block;
}