* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
}

/* #region utility */

.end {
    text-align: end;
}

.debug {
    background-color: indigo;
}

.debug_box {
    height: 820px;
    width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 9);
}

.col_10 {
    width: calc((100% / 12) * 10);
}

.col_11 {
    width: calc((100% / 12) * 11);
}

.col_12 {
    width: calc((100% / 12) * 12);
}

/* #endregion utility */

#site_header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
}

img {
    max-width: 100%;
}

.small_logo {
    padding: 25px;
    vertical-align: middle;
}

.header_links {
    text-decoration: none;
    color: black;
    margin: 20px;
    vertical-align: middle;
    
}

.start {
    background-color: #0061ff;
    color: white;
    border: 0;
    font-size: 16px;
    padding: 6px 15px;
    margin: 19px 5px;
}

.jumbo {
    height: 740px;
    background-color: #b4d0e7;
    margin-top: 75px;
}

.jumbo_box {
    width: 60%;
    margin: auto;
}

h1 {
    font-size: 75px;
    padding: 100px 0 50px 0;
}

.jumbo_img {
    float: right;
    width: 69%;
}

.free_trial {
    background-color: #0061ff;
    color: white;
    border: 0;
    font-size: 16px;
    padding: 10px 16px;
    margin: 30px 0;
}

.fa-arrow-down {
    margin-top: 65px;
    font-size: 50px;
}

.box {
    width: 53%;
    margin: auto;
}

h2 {
    margin: 120px 20px 50px 0;
    font-size: 40px;
}

.checkbox {
    /* proveremo a dargli la forma giusta */
}

.card_header {
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.fa-user,
.fa-users,
.fa-building {
    padding: 12px 4px 12px 0;
}

.sub {
    margin-bottom: 1px solid lightgray;
}

.spazio{
    margin: 40px 50px 40px 0;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.card_main{
    height: 800px;
    margin: 30px;
}

.free_trial{
    font-family: 'Open Sans', sans-serif;
    border: none;
    background-color: #0061ff;
    padding: 12px;
}

.border_bottom{
    padding-bottom: 40px;
    border-bottom: 1px solid lightgrey;
}

.card_main > a {
    color: #0061ff;
}

.fa-check{
    color: #0061ff;
    font-size: 20px;
    float: left;
    padding-bottom: 30px;
}

.card_main > h4{
    margin: 90px 0 40px 5px;
}